{{#if latest_comment}}

		
		<div id="latest-wrapper">
			
			<div class="center">
				
				<h2 class="sub-heading">Latest Comment:</h2>
				<h3>&quot;{{latest_comment.comment}}&quot;</h3>
				<p>by: {{latest_comment.name}}</p>


			</div>

		</div>


{{/if}}