<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>UnFlickr</title>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/public/css/styles.css">

    
        {{!-- Typekit --}}
        <script src="//use.typekit.net/xax6bty.js"></script>
        <script>try{Typekit.load();}catch(e){}</script>

    </head>
    <body>

        <article id="wrap">

            {{!-- Header --}}
            <header id="header">
                <div class="center">
                    <div class="main-heading">
                        <h1 class="main"><a id="logo" href="/">Unflickr</a></h1>
                        <h2 class="sub-heading">By: Jeremy Hutchcraft</h2>
                    </div>

                    {{> stats this }}

                </div>
            </header>

            <section id="main">

                <div class="body-wrap">
                    {{{body}}}
                </div>

            </section>



            <footer id="footer">
                <div class="center">
                    
                </div>
            </footer>
            
        </article>




        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script type="text/javascript" src="/public/js/scripts.js"></script>
    </body>
</html>
