/******************************************************************

MY GUESTBOOK APP

******************************************************************/

/* =- -= =- -= =- -= =--= =- -= =- -= =--= =-  -= =- -= =--= =- -= =--= =- 

	Bootstrap Overrides :( ---------------------------------------------------

=- -= =--= =- -= = --= =- -= =--= =-  -= =- -= =--= =- -= =- -= =- */

.panel {
	border: none;
}


/* =- -= =- -= =- -= =--= =- -= =- -= =--= =-  -= =- -= =--= =- -= =--= =- 

	Global ---------------------------------------------------

=- -= =--= =- -= = --= =- -= =--= =-  -= =- -= =--= =- -= =- -= =- */

body {
	background-color: @neutral1;
}

.center {
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

.wrap {
	padding-left: 30px;
	overflow: hidden;
	position: relative;
	margin-top:200px;
}

/* =- -= =- -= =- -= =--= =- -= =- -= =--= =-  -= =- -= =--= =- -= =--= =- 

	Typog ---------------------------------------------------

=- -= =--= =- -= = --= =- -= =--= =-  -= =- -= =--= =- -= =- -= =- */

h1, h2, h3 {
	.prox(900);
	color: @accent1;
	
}

h1 {
	font-size: 72px;


	&.main {
		margin-bottom: 0;
		font-size: 132px;
		line-height: .7;
	}

	a {
		color: white;
		text-decoration: none;
		
	}


	#logo {
		letter-spacing: 1px;
		margin-bottom: 0;
	}
}

h2 {
	font-size: 36px;

	&.sub-heading {
		font-size: 34px;
		letter-spacing: 4px;
		margin-top: 5px;
		.prox(400);
		text-transform: uppercase;
		
	}
}

h3 {
	font-size: 24px;
}

p {
	.prox(100);
	font-size: 24px;
}


label {
	.prox(900);
	text-transform: uppercase;
	font-size: 36px;
	color: @accent1;
	&:focus {
		color: black;
	}
}

.cta-btn {
	display: block;
	text-decoration: none;
	border: 2px solid rgba(255,255,255,1);
	background: rgba(255,255,255,0);
	.ease1;
	border-radius: 5px;
	color: white;
	
	cursor: pointer;

	span {
		color: white;
		display: block;
		letter-spacing: 1px;
		padding: 10px 20px;
		font-size: 16px;
		.prox(700);
		.ease1;
	}

	&:hover {
		background: rgba(255,255,255,1);
		// color: #428BCA;
		color: black;
		span {
			color: black;
		}
	}
}


.fa-move-left {
	i {
		margin-right: 10px;
		-webkit-transform: translate3D(0, 0, 0);
		-moz-transform: translate3D(0, 0, 0);
		-o-transform: translate3D(0, 0, 0);
		transform: translate3D(0, 0, 0);
	}

	&:hover {
		i {
			-webkit-transform: translate3D(-5px, 0, 0);
			-moz-transform: translate3D(-5px, 0, 0);
			-o-transform: translate3D(-5px, 0, 0);
			transform: translate3D(-5px, 0, 0);
		}
	}
}

.fa-move-right {
	i {
		margin-left: 10px;
		-webkit-transform: translate3D(0, 0, 0);
		-moz-transform: translate3D(0, 0, 0);
		-o-transform: translate3D(0, 0, 0);
		transform: translate3D(0, 0, 0);
	}

	&:hover {
		i {
			-webkit-transform: translate3D(5px, 0, 0);
			-moz-transform: translate3D(5px, 0, 0);
			-o-transform: translate3D(5px, 0, 0);
			transform: translate3D(5px, 0, 0);
		}
	}
}


/* =- -= =- -= =- -= =--= =- -= =- -= =--= =-  -= =- -= =--= =- -= =--= =- 

	Header ---------------------------------------------------

=- -= =--= =- -= = --= =- -= =--= =-  -= =- -= =--= =- -= =- -= =- */

header {
	position: relative;
	padding-left: 30px;
	width: 100%;
	margin: 60px 0;

	.main-heading {
		float: left;
	}

}

#stats-wrapper {
	display: block;
	float: right;
	margin-top: 100px;
	margin-left: 100px;
	width: 600px;

	.inner {
		display: block;;

		
	}
	
	.section-heading {
		color: white;
		text-transform: uppercase;
		.prox(300);
		letter-spacing: 4px;
		font-size: 24px;
		padding-bottom: 10px;
		margin-bottom: 10px;
		border-bottom: 2px solid white;
	}
	.stats-col {
		margin-top: 10px;
		margin-bottom: 10px;
		display: block;
		float: left;
		
		h5, span {
			.prox(300);
			text-transform: uppercase;
			color: white;
			letter-spacing: 2px;
			font-size: 13px;
		}
		h5 {
			display: inline;
		}
		span {
		}

		&.one, &.two {
			width: 22.5%;
		}

		&.one {
			text-align: left;
		}
		&.two {
			text-align: center;
		}

		&.three {
			text-align: center;
			width: 27.1666667%;
		}
		&.four {
			width: 27.8333333%;
			text-align: right;
		}
	}
}

/* =- -= =- -= =- -= =--= =- -= =- -= =--= =-  -= =- -= =--= =- -= =--= =- 

	Tile Sections ---------------------------------------------------

=- -= =--= =- -= = --= =- -= =--= =-  -= =- -= =--= =- -= =- -= =- */

.tile-section {

	display: block;
	position: relative;
	overflow: hidden;

	.a-tile {
		position: relative;
		padding-bottom: 17%;
		background-size: cover;
		.rowMachine(3, 3%);
		margin-bottom: 3%;
		float: left;
		background-color: #34393f;

		img {
			max-width: 100%;
		}

		.edit-row {
			position: absolute;
			width: 100%;
			height: 50px;
			padding: 15px;
			bottom: 0;
			background-color: rgba(0,0,0,.7);

			.edit-btn {
				color: white;
			}
		}
	}

}

/* =- -= =- -= =- -= =--= =- -= =- -= =--= =-  -= =- -= =--= =- -= =--= =- 

	Form Stuff ---------------------------------------------------

=- -= =--= =- -= = --= =- -= =--= =-  -= =- -= =--= =- -= =- -= =- */


input, textarea, button {
	outline: none!important;
	resize: none!important;
}

input[type="text"], textarea {
	width: 100%;
	padding: 20px;
	.prox(100);
	font-size: 14px;
	letter-spacing: 3px;
	.ease1;
	border: none;
	color: white;
	transform: translateZ(0);
	margin: 15px 0;
	border-radius: 8px;
	background: #454A4E;


}

textarea {
	height: 200px;
	
}



/* =- -= =- -= =- -= =--= =- -= =- -= =--= =-  -= =- -= =--= =- -= =--= =- 

	Upload Form ---------------------------------------------------

=- -= =--= =- -= = --= =- -= =--= =-  -= =- -= =--= =- -= =- -= =- */

legend {
	.prox(700);
	text-transform: uppercase;
	color: #d4d4d4;
	font-size: 20px;
	padding: 0 20px;
	letter-spacing: 4px;

}

fieldset {
	border-color: white;
	padding: 80px;
	border-radius: 10px;
}

form {


	label {
		.prox(700);
		letter-spacing: 4px;	
		color: white;
		text-transform: uppercase;
		margin-bottom: 10px;
		color: white;
		font-size: 14px;
	}

}

#upload-form {
	.left, .right {
		width: 50%;
		float: left;
	}

	.form-row {
		margin-bottom: 20px;
	}

	.sub-row {
		clear: left;
	}
}